.HandButton{
  width: 166px;
  height: 166px;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  background: url(../assets/lavender.svg) no-repeat center / contain transparent;
  /* 컬러는 맨 마지막 */
  /* background-color: transparent; */
  /* 사이즈는 포지션 뒤에 / 를 사용해서 적을 수 있다 */
  /* background-size: contain; */
}
.HandButton-icon{
  opacity: 0.45;
  width: 55px;
  height: 55px;
  transition: .3s;
}
.HandButton:hover{
  background-image: url(../assets/pink.svg);
}
.HandButton:hover .HandButton-icon{
  opacity: 1;
}