@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e4e3d5;
  color: #fff;
  font-family: 'GmarketSansMedium';
}

#root{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}