.App{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.App > main{
  width: 40.625rem;
  min-width: 28.125rem;
  text-align: center;
  border: 2px solid #e8e8e8;
  border-radius: 35px;
  padding: 5rem .625rem;
  box-shadow: 0 4px 4px rgba(0,0,0,0.2);
}

.App > main > article{
  margin: 1.25rem 0;
}
.App .App-button{
  margin: 6px;
}

.Board-box{
  width: 90%;
  display: flex;
  gap: 35px;
  justify-content: space-between;
  margin: 0 auto;
}